<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.datasource">jdbc/tpDS</property>
        <property name="hibernate.current_session_context_class">thread</property>
         
        <!-- Mapping with model class containing annotations -->
     <mapping resource="MemberDetails.hbm.xml"/>
      <mapping resource="Roles.hbm.xml"/>
    </session-factory>
</hibernate-configuration>